<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>com.company.filters.UTF8Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserSessionFilter</filter-name>
        <filter-class>com.company.filters.UserSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UserSessionFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>pollEditServlet</servlet-name>
        <servlet-class>com.company.servlet.PollsEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pollEditServlet</servlet-name>
        <url-pattern>/admin/polls/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminMenuServlet</servlet-name>
        <servlet-class>com.company.servlet.AdminMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminMenuServlet</servlet-name>
        <url-pattern>/admin/menu/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminAuthServlet</servlet-name>
        <servlet-class>com.company.servlet.AdminAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminAuthServlet</servlet-name>
        <url-pattern>/admin/auth/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminListOfUserServlet</servlet-name>
        <servlet-class>com.company.servlet.AdminListOfUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminListOfUserServlet</servlet-name>
        <url-pattern>/admin/list_users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminLogoutServlet</servlet-name>
        <servlet-class>com.company.servlet.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLogoutServlet</servlet-name>
        <url-pattern>/admin/logout/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>openPollsServlet</servlet-name>
        <servlet-class>com.company.servlet.OpenPollsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>openPollsServlet</servlet-name>
        <url-pattern>/polls/open/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pollResultServlet</servlet-name>
        <servlet-class>com.company.servlet.PollResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pollResultServlet</servlet-name>
        <url-pattern>/poll/result/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pollsResultServlet</servlet-name>
        <servlet-class>com.company.servlet.PollsResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pollsResultServlet</servlet-name>
        <url-pattern>/polls/result/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userAnswersServlet</servlet-name>
        <servlet-class>com.company.servlet.UserAnswersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAnswersServlet</servlet-name>
        <url-pattern>/user/answers/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>openPollsUserServlet</servlet-name>
        <servlet-class>com.company.servlet.OpenPollsUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>openPollsUserServlet</servlet-name>
        <url-pattern>/user/open/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userEditProfileServlet</servlet-name>
        <servlet-class>com.company.servlet.UserEditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userEditProfileServlet</servlet-name>
        <url-pattern>/user/edit_profile/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userAuthServlet</servlet-name>
        <servlet-class>com.company.servlet.UserAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAuthServlet</servlet-name>
        <url-pattern>/user_auth/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>userLogoutServlet</servlet-name>
        <servlet-class>com.company.servlet.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogoutServlet</servlet-name>
        <url-pattern>/user/logout/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>userMenuServlet</servlet-name>
        <servlet-class>com.company.servlet.UserMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userMenuServlet</servlet-name>
        <url-pattern>/user/menu/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userPollsServlet</servlet-name>
        <servlet-class>com.company.servlet.UserPollsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userPollsServlet</servlet-name>
        <url-pattern>/user/polls/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>userRegistrationServlet</servlet-name>
        <servlet-class>com.company.servlet.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userRegistrationServlet</servlet-name>
        <url-pattern>/user_registration/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>voteServlet</servlet-name>
        <servlet-class>com.company.servlet.VoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>voteServlet</servlet-name>
        <url-pattern>/user/vote/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>questionsEditServlet</servlet-name>
        <servlet-class>com.company.servlet.QuestionsEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>questionsEditServlet</servlet-name>
        <url-pattern>/admin/questions/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>variantsEditServlet</servlet-name>
        <servlet-class>com.company.servlet.VariantsEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>variantsEditServlet</servlet-name>
        <url-pattern>/admin/variants/*</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>